<!DOCTYPE html>
<html>
<header></header>
<body>
	<h1>Hi <%= @user.first_name %>!</h1>
	<h2>You just added a new album Staunch Records cart</h2>
	<p><%= @product.album %> by <%= @product.artist %></p>
	<p><%= @product.description	%></p>
</body>
</html>
