<!DOCTYPE html>
<html>
<header></header>
<body>
  <h1>Hi <%= @user.first_name %>!</h1>
  <h2>The price of a product you have on your Staunch Records cart changed</h2>
  <p><%= @product.album %> by <%= @product.artist %></p>
  <p><%= @product.description %></p>
</body>
</html>
