<h1>Edit Category</h1>

<%= render 'form' %>

<div class="center">
  <%= link_to 'Show', [:admin, @admin_category], class: "btn btn-primary" %> |
  <%= link_to 'Back', admin_categories_path, class: "btn btn-primary" %>
</div>
