<h1>About us</h1>
<h2>Staunch Records is a company dedicated to sell a curated collection of vinyl records on-line.</h2>
<h2>Most of these records are normally played at <%= link_to "Staunch Robots", 'http://staunchrobots.com' %> HQ, using <%= link_to "plist", 'http://plist.tv' %> to create awesome collaborative playlists on realtime. </h2>
