<h1>About us</h1>
<h2>Staunch Records is a company dedicated to sell a curated collection of Vynil records online.</h2>
<h2>This records are normally played at <%= link_to "Staunch Robots", 'http://staunchrobots.com' %> HQ, using <%= link_to "plist", 'http://plist.tv' %> to create awesome collaborative playlists. </h2>
