<div class="footer_resize">
  <p class="center">&copy; Copyright Staunch Records. All Rights Reserved. <strong><%= link_to "Staunch Robots.", 'http://staunchrobots.com' %></strong></p>
  <div class="clr"></div>
</div>
