<div class="footer_resize">
  <p class="center">&copy; Copyright Staunch Records <%= Date.today.year %>. A <%= link_to "Staunch Robots", 'http://staunchrobots.com' %> company. </p>
  <div class="clr"></div>
</div>
